.background-image {
    background-image: url("D:/Full stack Project/Movie_Database_System/movie_management/src/Images/images.jpg");
    background-color: #cccccc;
    background-size: cover; 
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  